{% extends "adminstrator/base.html" %}
{% block content %}
<section>
        <div class="max-w-6xl max-lg:max-w-3xl max-sm:max-w-sm mt-10 mx-auto">
          
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-sm:gap-8">
            <div class="bg-white rounded overflow-hidden">
              <div class="p-6">
                <h3 class="text-lg font-bold text-gray-800 mb-3">CLIENTS</h3>
                <p class="text-gray-500 justify-center text-4xl">500+</p>
                <p class="text-gray-800 text-[13px] font-semibold mt-4"></p>
                <a href="javascript:void(0);" class="mt-4 inline-block px-4 py-2 rounded tracking-wider bg-cyan-600 hover:bg-cyan-700 text-white text-[13px]">View</a>
              </div>
            </div>
            <div class="bg-white rounded overflow-hidden">
              <div class="p-6">
                <h3 class="text-lg font-bold text-gray-800 mb-3">MEETINGS</h3>
                <p class="text-gray-500 justify-center text-4xl">400+</p>
                <p class="text-gray-800 text-[13px] font-semibold mt-4"></p>
                <a href="javascript:void(0);" class="mt-4 inline-block px-4 py-2 rounded tracking-wider bg-cyan-600 hover:bg-cyan-700 text-white text-[13px]">View</a>
              </div>
            </div>
            <div class="bg-white rounded overflow-hidden">
              <div class="p-6">
                <h3 class="text-lg font-bold text-gray-800 mb-3">TEST PACKAGES</h3>
                <p class="text-gray-500 justify-center text-4xl">5+</p>
                <p class="text-gray-800 text-[13px] font-semibold mt-4"></p>
                <a href="javascript:void(0);" class="mt-4 inline-block px-4 py-2 rounded tracking-wider bg-cyan-600 hover:bg-cyan-700 text-white text-[13px]">View</a>
              </div>
            </div>
          </div>
        </div>
</section>
{% endblock %}