{% extends "base.html" %}
{% block content %}
<div class="p-4 font-[sans-serif]">
    <div class="max-w-6xl max-lg:max-w-3xl max-sm:max-w-sm mx-auto">
      <div class="max-w-md mx-auto">
        <h2 class="text-3xl font-extrabold text-gray-800 mb-12 text-center leading-10">Stay updated with the latest blog posts.</h2>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-sm:gap-8">
        <div class="bg-white rounded overflow-hidden">
          <img src="https://media.istockphoto.com/id/521182903/photo/woman-holds-her-throat-sore-throat.jpg?b=1&s=612x612&w=0&k=20&c=bW4e9wn4Ch3iN79oJB-Gk-VhvDKjF2JTUyAtt41jnoU=" alt="Blog Post 1" class="w-full h-52 object-cover" />
          <div class="p-6">
            <h3 class="text-lg font-bold text-gray-800 mb-3">Understanding Tonsillitis: Symptoms, Causes, and Effective Treatments</h3>
            <p class="text-gray-500 text-sm"></p>
            <p class="text-gray-800 text-[13px] font-semibold mt-4">10 January 2025</p>
            <a href="javascript:void(0);" class="mt-4 inline-block px-4 py-2 rounded tracking-wider bg-cyan-600 hover:bg-cyan-700 text-white text-[13px]">Read More</a>
          </div>
        </div>
        <div class="bg-white rounded overflow-hidden">
          <img src="https://images.pexels.com/photos/8637067/pexels-photo-8637067.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Blog Post 2" class="w-full h-52 object-cover" />
          <div class="p-6">
            <h3 class="text-lg font-bold text-gray-800 mb-3">The Hidden Hazards of Smoking: How It Harms Your Body and Mind</h3>
            <p class="text-gray-500 text-sm"></p>
            <p class="text-gray-800 text-[13px] font-semibold mt-4">January 10 2025</p>
            <a href="javascript:void(0);" class="mt-4 inline-block px-4 py-2 rounded tracking-wider bg-cyan-600 hover:bg-cyan-700 text-white text-[13px]">Read More</a>
          </div>
        </div>
        <div class="bg-white rounded overflow-hidden">
          <img src="https://images.pexels.com/photos/7089623/pexels-photo-7089623.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Blog Post 3" class="w-full h-52 object-cover" />
          <div class="p-6">
            <h3 class="text-lg font-bold text-gray-800 mb-3">Convenient Care: Home Ultrasound Services for Everyone</h3>
            <p class="text-gray-500 text-sm"></p>
            <p class="text-gray-800 text-[13px] font-semibold mt-4">January 16 2025</p>
            <a href="javascript:void(0);" class="mt-4 inline-block px-4 py-2 rounded tracking-wider bg-cyan-600 hover:bg-cyan-700 text-white text-[13px]">Read More</a>
          </div>
        </div>
        <div class="bg-white rounded overflow-hidden">
          <img src="https://images.pexels.com/photos/5327916/pexels-photo-5327916.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Blog Post 3" class="w-full h-52 object-cover" />
          <div class="p-6">
            <h3 class="text-lg font-bold text-gray-800 mb-3">The Future of Telemedicine: How Technology is Revolutionizing Healthcare</h3>
            <p class="text-gray-500 text-sm"></p>
            <p class="text-gray-800 text-[13px] font-semibold mt-4">January 12 2025</p>
            <a href="javascript:void(0);" class="mt-4 inline-block px-4 py-2 rounded tracking-wider bg-cyan-600 hover:bg-cyan-700 text-white text-[13px]">Read More</a>
          </div>
        </div>
        <div class="bg-white rounded overflow-hidden">
          <img src="https://images.pexels.com/photos/1660027/pexels-photo-1660027.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Blog Post 3" class="w-full h-52 object-cover" />
          <div class="p-6">
            <h3 class="text-lg font-bold text-gray-800 mb-3">10 Essential Tips for Maintaining a Healthy Lifestyle in Your 30s</h3>
            <p class="text-gray-500 text-sm"></p>
            <p class="text-gray-800 text-[13px] font-semibold mt-4">January 12 2025</p>
            <a href="javascript:void(0);" class="mt-4 inline-block px-4 py-2 rounded tracking-wider bg-cyan-600 hover:bg-cyan-700 text-white text-[13px]">Read More</a>
          </div>
        </div>
        <div class="bg-white rounded overflow-hidden">
          <img src="https://images.pexels.com/photos/8378726/pexels-photo-8378726.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="Blog Post 3" class="w-full h-52 object-cover" />
          <div class="p-6">
            <h3 class="text-lg font-bold text-gray-800 mb-3">Understanding Mental Health: Why It's Time to Break the Stigma</h3>
            <p class="text-gray-500 text-sm"></p>
            <p class="text-gray-800 text-[13px] font-semibold mt-4">January 12 2025</p>
            <a href="javascript:void(0);" class="mt-4 inline-block px-4 py-2 rounded tracking-wider bg-cyan-600 hover:bg-cyan-700 text-white text-[13px]">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}