{% extends "base.html" %}
{% block content %}
<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 relative">
    <div class="bg-cover bg-center text-center overflow-hidden"
        style="min-height: 500px; background-image: url('https://images.pexels.com/photos/7615562/pexels-photo-7615562.jpeg?auto=compress&cs=tinysrgb&w=600')"
        title="Woman holding a mug">
    </div>
    <div class="max-w-3xl mx-auto">
        <div
            class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
            <div class="bg-white relative top-0 -mt-32 p-5 sm:p-10">
                <h1 href="#" class="text-gray-900 font-bold text-3xl mb-2">Gonorrhea: Symptoms, Causes, Treatment, and Prevention Guide</h1>
                <p class="text-gray-700 text-xs mt-2">Written By:
                  <!--
                    <a href="#"
                        class="text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                      
                    </a> In
                    <a href="#"
                        class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                        Election
                    </a>,
                    <a href="#"
                        class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                        Politics
                    </a>
                    -->

                </p>

                <p class="text-base leading-8 my-5">
                  Gonorrhea is a sexually transmitted bacteria infection  it’s spread by sexual contact or transmitted through birth.
                </p>

                <h3 class="text-2xl font-bold my-5">#1. SIGNS AND SYMPTOMS </h3>

                <p class="text-base leading-8 my-5">
                 <p> In women ,Vaginal discharge that resembles pus and has a bad odor.</p>
                  <li>Pain when urinating</li>
                  <li>Inter menstrual period</li>
                  <li>Dyspareunia(painful intercourse)</li>
                  <li>Lower abdominal pains</li>
                  <li>Fever</li>
                  <li>Chills</li>
                  <li>Nausea.</li>
                </p>

                <p class="text-base leading-8 my-5">
              <p>In men:—burning sensation when urinating</p> 
              <li>Urethral discharge that resembles pus and sometimes with blood.</li>
              <li>swelling and pain in one testicle</li>
              <li>Reduced urine stream</li>
              <li>Pain in the anus or rectum</li>
              <li>discharge from the rectum</li>
              </p>

                <blockquote class="border-l-4 text-base italic leading-8 my-5 p-5 text-cyan-600">
                  Gonorrhea is treated with antibiotics. It’s important to take all prescribed medications.
                  <br>
                  -Avoid sex for at least 7 days after completion of medication
                </blockquote>

                <h3 class="text-2xl font-bold my-5">#2. COMPLICATIONS </h3>
                <p class="text-base leading-8 my-5">
                  <li>Pelvic inflammatory disease (PID): A condition that can occur in women when gonorrhea spreads to the reproductive organs. PID can cause infertility, ectopic pregnancy, and long-term pelvic pain. </li>
                  <li>Epididymitis: A painful inflammation of the testicles that can lead to infertility. </li>
                  <li>Urethritis: An inflammation of the urethra that can cause burning when urinating. </li>
                  <li>Prostatitis: An inflammation of the prostate gland that can cause pain in the groin and pelvis, or discomfort when urinating. </li>
                  <li>Conjunctivitis: An eye infection that can occur in babies born to mothers with gonorrhea. If left untreated, it can lead to blindness. </li>
                  <li>Disseminated gonococcal infection: A rare condition that occurs when gonorrhea spreads through the bloodstream and infects multiple organs, such as the heart, joints, and skin.</li> 
                  <li>Arthritis: A rare but serious complication that can occur when gonorrhea spreads to the bloodstream. </li>
                  <li>Heart valve damage: A rare but serious complication that can occur when gonorrhea spreads to the bloodstream. </li>
                  <li>Increased risk of HIV/AIDS: People with gonorrhea are more likely to get HIV, the virus that causes AIDS.</li>
                </p>

                <h3 class="text-2xl font-bold my-5">#3. PREVENTION </h3>

                <p class="text-base leading-8 my-5">
                 <p> Use a condom during all sexual intercourse</p>
                  <li>Limit the number of sexual partners</li>
                  <li>Get tested for sexually transmitted infections before having sex with a new partner.</li>
                  <li>Consider regular sexually transmitted infections screening.</li>
                </p>
            
                <!--
                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #Election
                </a>,
                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #people
                </a>,
                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #Election2020
                </a>,
                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #trump
                </a>,<a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #Joe
                </a>
                -->
            </div>

        </div>
    </div>
</div>


<div class="mt-28 bg-gray-50 px-4 sm:px-10 py-12">
    <div class="max-w-7xl max-md:max-w-lg mx-auto">
      <h2 class="md:text-4xl text-3xl font-bold md:text-center mb-14">Latest Blogs</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-14">
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="bg-white cursor-pointer rounded-md overflow-hidden group">
          <div class="relative overflow-hidden">
            <img src="https://media.istockphoto.com/id/521182903/photo/woman-holds-her-throat-sore-throat.jpg?b=1&s=612x612&w=0&k=20&c=bW4e9wn4Ch3iN79oJB-Gk-VhvDKjF2JTUyAtt41jnoU=" alt="Blog Post 1"
              class="w-full h-60 object-cover group-hover:scale-125 transition-all duration-300" />
            <div class="px-4 py-2.5 text-white bg-cyan-600 absolute bottom-0 right-0">January 10, 2025</div>
          </div>
          <div class="p-6">
            <h3 class="text-xl font-semibold">Understanding Tonsillitis: Symptoms, Causes, and Effective Treatments</h3>
            <button type="button"
              class="bg-cyan-600 hover:bg-cyan-700 text-white rounded-full px-5 py-2.5 mt-6 transition-all">Read
              More</button>
          </div>
        </div>
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="bg-white cursor-pointer rounded-md overflow-hidden group">
          <div class="relative overflow-hidden">
            <img src="https://images.pexels.com/photos/8637067/pexels-photo-8637067.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Blog Post 2"
              class="w-full h-60 object-cover group-hover:scale-125 transition-all duration-300" />
            <div class="px-4 py-2.5 text-white bg-cyan-600 absolute bottom-0 right-0">January 10, 2025</div>
          </div>
          <div class="p-6">
            <h3 class="text-xl font-semibold">The Hidden Hazards of Smoking: How It Harms Your Body and Mind</h3>
            <button type="button"
              class="bg-cyan-600 hover:bg-cyan-700 text-white rounded-full px-5 py-2.5 mt-6 transition-all">Read
              More</button>
          </div>
        </div>
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="bg-white cursor-pointer rounded-md overflow-hidden group">
          <div class="relative overflow-hidden">
            <img src="https://images.pexels.com/photos/7089623/pexels-photo-7089623.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Blog Post 3"
              class="w-full h-60 object-cover group-hover:scale-125 transition-all duration-300" />
            <div class="px-4 py-2.5 text-white bg-cyan-600 absolute bottom-0 right-0">January 16, 2025</div>
          </div>
          <div class="p-6">
            <h3 class="text-xl font-semibold">Convenient Care: Home Ultrasound Services for Everyone</h3>
            <button type="button"
              class="bg-cyan-600 hover:bg-cyan-700 text-white rounded-full px-5 py-2.5 mt-6 transition-all">Read
              More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}